<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ldh.start.member.dao.MemberDao">

    <insert id="saveUser" parameterType="memberVo">
        INSERT INTO MEMBER_TABLE
        (MB_ID, MB_PW, MB_ADDR, MB_TEL, USE_YN, FRST_REG_DT, LAST_CHG_DT)
        VALUES(#{mbId}, #{mbPw}, #{mbAddr}, #{mbTel}, 'Y', NOW(), NOW())
    </insert>
    <select id="selectList" resultType="memberVo">
        SELECT SEQ, MB_ID, MB_PW, MB_ADDR, MB_TEL, USE_YN, FRST_REG_DT, LAST_CHG_DT
        FROM MEMBER_TABLE WHERE SEQ = 3
    </select>
</mapper>